.focussedp {
  background-color: purple;
}

.nav-tabs {
  border: none;
}

ul.nav.navbar-nav>li {
  padding: 2px 5px;
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  margin: 2px 10px;
  border-radius: 8px;
}

.navbar-header {
  padding-right: 100px;
}

.navbar, .navbar-default, .navbar-static-top, .box-body, .content {
  background-color: #1d305f;
}

.nav-tabs-custom{
  border: 3px solid;
  border-color: #ff6600e6;
  box-shadow: none;
  background: #1d305f;
}

.nav-tabs-custom>.tab-content {
  background: #1d305f;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
  border: none;
  color: white;
  background-color: #1d305f;
  font-size : 150%;
/*  border: 3px solid;
  border-color: #ff6600e6;*/
}

.nav-tabs-custom>.nav-tabs>li.active {
  border: 3px solid;
  border-color: #ff6600e6;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
    border: none;
}

.nav-tabs-custom>.nav-tabs>li {
  border: 3px solid;
  border-color: #ff6600e6;
}

.nav-tabs-custom>.nav-tabs>li>a {
  color: white;
}


tabs>li.active>a {
  background-color: #f3cd12;
}

.well {
  color: black;
  padding: 10px;
  margin-bottom: 0px;
  box-shadow: none;
}

.sidebar-menu {
  font-size: 26px;
}

.main-sidebar {
  padding: 0px;
}

#description_etc {
/*  border: 3px solid;
  border-color: #ff6600e6; */
  background-color: #1d305f;
  color: white;
}

#main_title {
  padding: 0px 10px;
}
#main_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


#dataset_name {
  font-size: 20px;
}

#dataset_info {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

#all_dataset_summary {
  width: 100%;
  height: 330px;
  overflow-y: scroll;
}

.col-sm-4 {
  padding: 10px;
}

.content {
  padding: 0px 0px 0px 10px;
}

.container-fluid {
  padding: 0px;
}

.plotbox {
  padding: 0px;
}

.fa, .fa-minus, .fa-plus {
  color: #ff6600e6;
}

.box {
   border: 3px solid;
   border-color: #ff6600e6;
   border-radius: 3px;
   background: #1d305f;
}

.box-body {
  /*border-radius: 3px;*/
  border-color: #ff6600e6;
}

.box-header {
  /*background: #ff6600e6;
  background-color: #ff6600e6;*/
  background-color: #1d305f;
  color: white;
  padding: 10px 10px 0px 10px;
}

.content-wrapper {
  background-color: #1d305f;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1d305f;
    margin: 20px;
    padding: 0;
}

#BI_logo1 {
    float: right;
    width:  80px;
    height: 80px;
	margin: 0 0 0 10px;
}

#spex_logo {
    float: left;
    width:  80px;
    height: 80px;
	margin: 0 20px 0 0;
}

#selected_name {
    display: inline;
  }

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 8px;
}

#main_title {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
