.focussedp {
  background-color: purple;
}

ul.nav.navbar-nav>li {
  padding: 2px 5px;
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  margin: 2px 10px;
  border-radius: 8px;
}

.navbar-header {
  padding-right: 100px;
}

.navbar, .navbar-default, .navbar-static-top, .box-header, .box-body, .content {
  background-color: #1d305f;
}

.well {
  color: black;
}

button:active{
    background:olive;
}

button:focus{
    background:olive;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1d305f;
    margin: 20px;
    padding: 0;
}

#BI_logo1 {
    float: right;
    width:  80px;
    height: 80px;
	margin: 0 0 0 10px;
}

#spex_logo {
    float: left;
    width:  80px;
    height: 80px;
	margin: 0 20px 0 0;
}

#selected_name {
    display: inline;
  }

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 8px;
}

#main_title {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
