.focussedp {
  background-color: purple;
}

.nav-tabs {
  border: none;
}

ul.nav.navbar-nav>li {
  padding: 2px 5px;
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  margin: 2px 10px;
  border-radius: 8px;
}

.navbar-header {
  padding-right: 100px;
}

.navbar, .navbar-default, .navbar-static-top, .box-body, .content {
  background-color: #1d305f;
}

.nav-tabs-custom{
  border: 3px solid;
  border-color: #ff6600e6;
  box-shadow: none;
  background: #1d305f;
}

.nav-tabs-custom>.tab-content {
  background: #1d305f;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
  border: none;
  color: white;
  background-color: #1d305f;
  font-size : 150%;
/*  border: 3px solid;
  border-color: #ff6600e6;*/
}

.nav-tabs-custom>.nav-tabs>li.active {
  border: 3px solid;
  border-color: #ff6600e6;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
    border: none;
}

.nav-tabs-custom>.nav-tabs>li {
  border: 3px solid;
  border-color: #ff6600e6;
}

.nav-tabs-custom>.nav-tabs>li>a {
  color: white;
}


tabs>li.active>a {
  background-color: #f3cd12;
}

.well {
  color: black;
  padding: 10px;
  margin-bottom: 0px;
  box-shadow: none;
}

.sidebar-menu {
  font-size: 26px;
}

.main-sidebar {
  padding: 0px;
}

#description_etc {
/*  border: 3px solid;
  border-color: #ff6600e6; */
  background-color: #1d305f;
  color: white;
}

#main_title {
  font-size: 60px;
  text-align: center;
  padding: 20px 10px 50px 2px;
  margin: 0px;
  font-weight: 550;
}

#main_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


#dataset_name {
  font-size: 20px;
}

#all_dataset_summary {
  width: 100%;
/*  height: 600px;*/
  overflow-y: scroll;
}

.col-sm-4 {
  padding: 10px;
}

.content {
  padding: 0px 0px 0px 40px;
}

.container-fluid {
  padding: 0px;
}

.plotbox {
  padding: 3px;
}

.fa, .fa-minus, .fa-plus {
  color: #ff6600e6;
}

.box {
/*   border: 3px solid;
   border-color: #ff6600e6;
   border-radius: 3px;
*/   background: #1d305f;
  border: none;
  margin: 2px;
}

.box-body {
  /*border-radius: 3px;*/
  border-color: #ff6600e6;
}

.box-header {
  /*background: #ff6600e6;
  background-color: #ff6600e6;*/
  background-color: #1d305f;
  color: white;
  padding: 10px 10px 0px 10px;
}

.content-wrapper {
  background-color: #1d305f;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1d305f;
    margin: 20px;
    padding: 0;
}

#BI_logo1 {
    float: right;
    width:  80px;
    height: 80px;
	margin: 0 0 0 10px;
}

#spex_logo {
    float: left;
    width:  80px;
    height: 80px;
	margin: 0 20px 0 0;
}

#selected_name {
    display: inline;
  }

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  padding: 5px 10px;
  margin: 20px 10px;
  border: 0px;
  border-radius: 8px;
}

.inactiveLink {
   cursor: not-allowed;
}

.inactiveLink:active {
  pointer-events: none;
}

/*.info_banner {
  background-color: black;
  color: #ff6600e6;
  font-size: 20px;
  margin: 10px;
}*/

.banner-text {
  text-align: center;
  color: #ff6600e6;
  font-size: 20px;
}

#load_dataset_btn {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  padding: 10px 20px;
}

#loaded_ds_msg {
  font-size: 16px;
  padding: 10px 0px 0px;
}

#choose_ds_msg {
 padding: 10px;
 margin: 0px;
 font-size: 36px;
 font-weight: 600;
}

#banner_filler {
  padding: 10px;
}

.section_header {
  font-size: 20px; 
  font-weight: bold;
}
  
.my_info_panel {
  margin: 15px 30px 0px;
  padding: 30px;
}

#selected_data_info { 
  margin-top: 10px;
}

#selected_dataset_title {
  font-size: 32px;
  font-weight: bold;
  padding: 0px 0px 10px;
}

.scatter_panel {
  padding-bottom: 0px;
  border: none;
}

.dropdown_cols, .col-sm-4 {
  padding: 0px 3px;
  margin: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.selectize-control {
  margin-bottom: 0px;
}



